body {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  cursor: pointer;
  font-size: x-large;
  border: 2px solid black;
  border-radius: 2px;
}

#visible {
  visibility: hidden;
  margin-top: 25px;
}

#visible > div {
  padding: 5px;
  margin-top: 5px;
  border: 2px solid black;
  font-size: x-large;
}